*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Do not ignore utility jars added to repo
!gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# gradle
.gradle/

# IDEA
.idea/

# VIM
.*.swp
tags

# build output
build/
input_ocibuild/
output_ocibuild*/

# MacOS
.DS_Store
